<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   
            <div class="flex justify-center items-center min-h-screen width-full bg-white-300 ">

            <form action="" class="flex flex-col gap-4 bg-white p-6 rounded-md shadow">
                <input type="text" name="name" placeholder="Full Name" id="name">
                <input type="email"  class="" placeholder="Email"
                name="email" id="email">
                <input type="password" name="password" id="password" placeholder="Password">
            </form>
   </div>

</body>
</html>